doctype html
html
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="icon" href="favicon.png" type="image/gif" sizes="16x16")
    title="Zombie Finder"
    base(href="/")
  body
    block content
